version: "3.9"

services:
  db:
    image: mariadb:10.6
    platform: linux/amd64
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=mariadb
      - MARIADB_DATABASE=mariadb
      - MARIADB_USER=mariadb
      - MARIADB_PASSWORD=mariadb
    ports:
      - "3306:3306"
  web:
    build: .
    platform: linux/amd64
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  mariadb_data:
