<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token Inactivating Page</title>
    <script language="javascript">
        <!--
        function test(form) { 
            if (test_checknric(form)){
                return true;
            } else {
                return false;
            }
        }
        
        function test_checknric(form){
            if (form.check_nric.value == ""){
                alert("Please enter the nric number again!");
                return false;
            } else if (form.check_nric.value != form.nric.value){
                alert("Different NRICs are entered!");
                return false;
            }
            return true;
        }   
        -->   
    </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        body {
            background-color: #ebeff5;
        }

        #total-orders {
            background-color: #4cb4c7;
        }


        #orders-delivered {
            background-color: #7abecc;
        }

        #orders-pending {
            background-color: #7CD1C0;
        }

    </style>
</head>
<body> 
    {% include 'issuer/navbar.html' %}
    <div align="center" style="font-size:30px">
        You are on the token inactivating page.    
    </div>
    <form  method="post" > {% csrf_token %} {% autoescape on %}
        <div align="center">
            <label for="nric_number">Nric Number:</label>
            <input type="text" name="nric" size="12" maxlength="9" id="nric_number" minlength="9" required>
            <label for="check_nric_number">Confirm Nric Number:</label>
            <input type="text" name="check_nric" size="12" maxlength="9" id="nric_number" minlength="9" required>
        </div>

        <div style="text-align:center">
        <input type="submit" name="submit" value="submit", onclick="return test(form)" >
        <input type="reset" name="reset" value="reset" >
        <button type="button" name="gohome" onclick="window.location.href = '/issuer'">Go Home</button> {% endautoescape %}
        <div>
            {% if message %}
            <script> alert("Token is inactivated successfully!"); </script>
            {% endif %}
    </form>
</body>
</html>

