<!DOCTYPE html>
{% extends 'accounts/main.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% autoescape on %}
<body>
<h1>Enter the name of the cluster to be added:</h1>
<p>This cluster case will have cluster ID: {{cluster_num}}</p>
<form action="{% url 'official:add' %}" method="post">
{% csrf_token %}
{% for field in form %}
<div class="fieldWrapper"><p>
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
</p></div>
{% endfor %}
<input type="submit" value="Submit">
</form>
<div><br/><a href="{% url 'official:index' %}">Click here to go back to the official homepage</a><br/></div>
</body>
{% endautoescape %}
</html>
{% endblock %}