<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of cluster {{cluster.id}}</title>
</head>
<body>
<h1>Cluster {{cluster.id}}</h1>
<p>Cluster name: {{cluster.name}}</p>
<div><a href="{% url 'official:index' %}">Click here to go back to the official homepage</a><br/><br/></div>
<div><a href="{% url 'official:insert' %}">Click here to insert a new positive case</a><br/><br/></div>
<div><a href="{% url 'official:update' %}">Click here to update a new positive case</a><br/><br/></div>
<div><a href="{% url 'official:assign' %}">Click here to assign a case cluster to a staff</a><br/><br/></div>
<h3>Number of positive cases: {{cases.count}}</h3>
<p>List of positive cases:</p>

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script>
Highcharts.chart('container', {
  chart: {
    type: 'networkgraph',
    marginTop: 80
  },
  title: {
    text: 'Graph for cluster ' + {{cluster.id}}
  },
  plotOptions: {
    networkgraph: {
      keys: ['from', 'to'],
    }
  },
  series: [{
    marker: {
      radius: 10
    },
    dataLabels: {
      enabled: true,
      linkFormat: '',
      allowOverlap: true
    },
    data: [
      {% for link in links %}
      [{{link.vertex1_id}}, {{link.vertex2_id}}],
      {% if not forloop.last %}, {% endif %}{% endfor %}
    ]
  }]
});
</script>

<ol>
{% for case in cases %}
    <li>
        <p>
            Positive case id: {{case.id}}<br/>
            Identity id: {{case.identity.id}}<br/>
            Date tested positive: {{case.date_test_positive}}<br/>
            ID of assigned staff:
            {% if case.staff.id == None %}
                No staff assigned
            {% else %}
                {{case.staff.id}}
            {% endif %}
            <br/>
        </p>
    </li>
{% endfor %}
</ol>
<h3>Number of close contacts: {{contacts.count}}</h3>
<ol>
{% for contact in contacts %}
    <li>
        <p>
            Close contact id: {{contact.id}}<br/>
            Identity id: {{contact.identity.id}}<br/>
            ID of positive case related: {{contact.positivecase.id}}<br/>
            ID of assigned staff:
            {% if contact.staff.id == None %}
                No staff assigned
            {% else %}
                {{contact.staff.id}}
            {% endif %}
            <br/>
        </p>
    </li>
{% endfor %}
</ol>
<h3>Number of links: {{links.count}}</h3>
<ol>
{% for link in links %}
    <li>
        {% if link.vertex1_category == 'positive' %}
            Positive case ID {{link.vertex1_id}} -
        {% else %}
            Close contact ID {{link.vertex1_id}} -
        {% endif %}
        {% if link.vertex2_category == 'positive' %}
            Positive case ID {{link.vertex2_id}}
        {% else %}
            Close contact ID {{link.vertex2_id}}
        {% endif %}
    </li>
{% endfor %}
</ol>
</body>
</html>