<!DOCTYPE html>
{% extends 'accounts/main.html' %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <title>List of active clusters</title>
  </head>
  {% autoescape on %}
  <body>
<div><br/><a href="{% url 'official:insert' %}">Click here to insert a new positive case</a><br/><br/></div>
<div><a href="{% url 'official:update' %}">Click here to update a new positive case</a><br/><br/></div>
<div><a href="{% url 'official:assign' %}">Click here to assign a case cluster to a staff</a><br/><br/></div>
<div><a href="{% url 'official:add' %}">Click here to add a new case cluster</a><br/><br/></div>
{% if cluster_number_dict %}
<h1>List of active clusters:</h1>
    <ul>
    {% for cluster, value in cluster_number_dict.items %}
        <br/><li>
        <p>Cluster {{cluster.id}}</p>
        <p>Cluster name: {{cluster.name}}</p>
        <p>Number of positive cases: {{value.cases_count}}</p>
        <p>Number of close contacts: {{value.contacts_count}}</p>
        <a href="{% url 'official:detail' cluster.id %}">Click here for details of cluster {{cluster.id}}</a>
        </li><br/>
    {% endfor %}
    </ul>
{% else %}
    <p>No clusters are available.</p>
{% endif %}
<h2>Positive cases without a cluster:</h2>
<ul>
  {% for case in cases_no_cluster %}
    <br/><li>
        <p>Positive case ID: {{case.id}}<p/>
        <p>NRIC: {{case.identity.nric}}</p>
        <p>Date test positive: {{case.date_test_positive}}</p>
    </li><br/>
  {% endfor %}
</ul>
  </body>
{% endautoescape %}
</html>
{% endblock %}