<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Close Contact Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        body {
            background-color: #ebeff5;
        }


        #total-orders {
            background-color: #4cb4c7;
        }


        #orders-delivered {
            background-color: #7abecc;
        }

        #orders-pending {
            background-color: #7CD1C0;
        }
    </style>
</head>
<body> 
    {% include 'tracer/navbar.html' %}
    <div align="center" style="font-size:20px">
        You are in the close contacts tracing page
    </div>

    <form method="post" > {% csrf_token %} {% autoescape on %}
        <div align="center">
            <label for="positive">Positive case id:</label>
            <input type="number" id="positive" name="pos_id" size="12" max="100000000000" id="pos_id" oninput="value=value.replace(/[^\d]/g,'')" required>
        </div>
        
        <div align="center">
        <input type="submit" name="submit" value="submit"> 
        <input type="reset" name="reset" value="reset" >
        <button type="button" name="gohome" onclick="window.location.href = '/tracer'">Home</button> {% endautoescape %}
        </div>
    </form>
</body>
</html>


