<!DOCTYPE html>
<html>

<head>
    <title>Main Tracer Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            background-color: #ebeff5;
        }


        #total-orders {
            background-color: #4cb4c7;
        }


        #orders-delivered {
            background-color: #7abecc;
        }

        #orders-pending {
            background-color: #7CD1C0;
        }
    </style>
</head>

<body>
    {% include 'tracer/navbar.html' %}

    <div class="container-fluid">
        {% block content %}
        <div align="center" style="font-size:20px">
            <p> Welcome to the tracer interface!</p> 
        </div>
        <div align="center">
            <p>You can find close contacs information here: <a href="{% url 'tracer:close_contact' %}">Find close contacts</a> </p> 
        </div>
        <div align="center">
            <p>You can find information of an individual close contact here: <a href="{% url 'tracer:find_contact' %}">Find individual contact</a> </p> 
        </div>
        <div align="center">
            <p>You can inactivate a close contact here: <a href="{% url 'tracer:inactivate_contact' %}">Inactivate close contact</a> </p> 
        </div>
        {% endblock %}
    </div>

    <hr>

</body>

</html>