{% extends 'tracer/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracer Interface</title>
</head>
<body> 
    <div align="center" style="font-size:30px">
        You are on the Tracer interface.
    </div>
    <div align="center">
    <!--a href="add_staff/">Add staff</a>
    <a href="modify_role/">Modify Role</a-->
    <p><a href="close_contact/">Find close contacts</a></p>
    <a href='find_contact/'>Find individual contact information</a>
    <a href = 'inactivate_contact/'>Inactivate close contact</a>
    </div>
</body>
</html>


