name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:10.6
        ports:
          - 3306:3306
        env:
          MYSQL_USER: mariadb
          MYSQL_PASSWORD: mariadb
          MYSQL_DATABASE: pandemic_project
          MYSQL_ROOT_PASSWORD: mariadb
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Check code format with black
      run: |
        black . --check
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Migrate to database
      run: python manage.py makemigrations && python manage.py migrate

    - name: Run Tests
      run: |
        python manage.py test --keepdb
